BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
AlignTrailingComments: true
SortIncludes: false
PointerAlignment: Left
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
Cpp11BracedListStyle: false
BreakBeforeBinaryOperators: All
SpaceAfterCStyleCast: true