BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AlignTrailingComments: true
SortIncludes: false
PointerAlignment: Left
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentCaseLabels: true
Cpp11BracedListStyle: false